/* header */
.header {
    padding: 55px 0;
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0891b2;
    shape-outside: polygon(0 0, 100% 0, 100% 40%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
}

.user {
    display: flex;
    align-items: center;
}

.user-info {
    width: 475px;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 1;
    box-shadow: 0 5px 10px rgb(44 44 44 / 30%);
    position: relative;
}

.user-avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user-name {
    font-size: 3.125rem;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: #fff;
    transform: translateY(-100%);
    text-align: center;
    position: absolute;
    width: 100%;
}

.user-about {
    background-color: #fff;
    padding: 36px 25px 25px;
    box-shadow: 0 5px 10px rgb(44 44 44 / 30%);
}


.rect--display {
    display: none;
}


.about-detail {
    margin-top: 16px;
    font-size: 1.25rem;
    color: var(--text-color);

}

.about-contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 30px;
    margin-top: 30px;
}

.link-icon {
    text-decoration: none;
    font-size: 2rem;
    color: #000;
    line-height: 0;
    transform: scale(1);
}

.link-icon:hover {
    transform: scale(1.1);
}

/* main */
.project-container {
    padding: 80px 0;
}

.project-content {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 50px;
}

.project-item {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgb(44 44 44 / 30%);
    display: flex;
    flex-direction: column;
}

.project-img {
    width: 100%;
    height: 240px;
    flex-shrink: 0;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: .3s ease-in-out;
    opacity: 1;
}

.project-img:hover {
    opacity: 0.7;
}

.project-detail {
    padding: 20px 20px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.project-top {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.project-title {
    font-family: 'Playfair Display', serif;
    flex: 1;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--heading-color);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.project-title:hover {
    color: var(--primary-coclor);
}

.project-link {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.link-icon--sm {
    font-size: 1.5rem;
}



.project-desc {
    padding-top: 10px;
    color: var(--text-color);
    word-break: break-word;
}

.footer {
    background: var(--primary-coclor);
}

.footer-container {
    padding: 50px 0;
    display: flex;
    gap: 0 100px;
}

.contact {}

.contact .title--white {
    color: #fff;
}

.contact-detail {
    color: #fff;
    font-size: 1.25rem;
    margin: 24px 0;
}

.contact-info {
    display: flex;
    align-items: center;
    margin: 16px 0;
    gap: 0 16px;
}

.contact-icon {
    width: 34px;
    height: 34px;
}

.contact-info-desc {
    color: #fff;
    font-size: 1.25rem;
}

.contact-link {
    padding-top: 36px;
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.link-icon--xs {
    font-size: 2.5rem;
}

.footer-image {
    flex-shrink: 0;
    width: 60%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}